@using PROJET_FINAL__WEB.Models
@model CommerceDTO;
@*Si erreur du côté serveur... affichage du message d'erreur...*@
@if (ViewBag.MessageErreur != null)
{
    <br />
    <h2 class="alert-danger">@ViewBag.MessageErreur</h2>
}
else
{
    <br />
    <h3>Modifier une Commerce : </h3>
    <br />
    <form asp-controller="Commerce" asp-action="ModifierCommerce" method="post">
        <table>
            <tr>
                <td>
                    <label asp-for="Description"></label>
                </td>
                <td>
                    <input asp-for="Description" class="inputreadonly" readonly />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Adresse"></label>
                </td>
                <td>
                    <input asp-for="Adresse" />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Telephone"></label>
                </td>
                <td>
                    <input asp-for="Telephone" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Modifier" />
                </td>
                <td>
                    <input type="button" value="Annuler" onclick="history.back();" />
                </td>
            </tr>
        </table>
    </form>
}