@using PROJET_FINAL__WEB.Models
@model EnfantDTO;
@*Si erreur du côté serveur... affichage du message d'erreur...*@
@if (ViewBag.MessageErreur != null)
{
    <br />
    <h2 class="alert-danger">@ViewBag.MessageErreur</h2>
}
else
{
    <br />
    <h3>Modifier un Enfant : </h3>
    <br />
    <form asp-controller="Enfant" asp-action="ModifierEnfant" method="post">
        <table>
            <tr class="input-group input-group-sm mb-3">
                <td>
                    <label asp-for="Nom" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></label>
                </td>
                <td>
                    <input asp-for="Nom" readonly type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
                </td>
            </tr>
            <tr class="input-group input-group-sm mb-3">
                <td>
                    <label asp-for="Prenom" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></label>
                </td>
                <td>
                    <input asp-for="Prenom" readonly type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
                </td>
            </tr>
            <tr class="input-group input-group-sm mb-3">
                <td>
                    <label asp-for="DateDeNaissance" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></label>
                </td>
                <td>
                    <input asp-for="DateDeNaissance" readonly type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
                </td>
            </tr>
            <tr class="input-group input-group-sm mb-3">
                <td>
                    <label asp-for="Adresse" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></label>
                </td>
                <td>
                    <input asp-for="Adresse" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
                </td>
            </tr>
            <tr class="input-group input-group-sm mb-3">
                <td>
                    <label asp-for="Ville" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></label>
                </td>
                <td>
                    <input asp-for="Ville" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
                </td>
            </tr>
            <tr class="input-group input-group-sm mb-3">
                <td>
                    <label asp-for="Province" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></label>
                </td>
                <td>
                    <select asp-for="Province" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        <option selected value="Province"></option>
                        <option>Alberta</option>
                        <option>British Columbia</option>
                        <option>Manitoba</option>
                        <option>New Brunswick</option>
                        <option>Newfoundland and Labrador</option>
                        <option>Nova Scotia</option>
                        <option>Ontario</option>
                        <option>Prince Edward Island</option>
                        <option>Quebec</option>
                        <option>Saskatchewan</option>
                    </select>
                </td>
            </tr>
            <tr class="input-group input-group-sm mb-3">
                <td>
                    <label asp-for="Telephone" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></label>
                </td>
                <td>
                    <input asp-for="Telephone" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
                </td>
            </tr>
            <tr class="input-group input-group-sm mb-3">
                <td>
                    <input type="submit" value="Modifier" class="btn btn-outline-success"/>
                </td>
                <td>
                    <input type="button" value="Annuler" onclick="history.back();" class="btn btn-outline-primary"/>
                </td>
            </tr>
        </table>
    </form>
}